.page {
    width: 90%;
    margin: 0 auto;
  }
.head{
  font-family: 'Vollkorn SC', serif;

  }
footer {
  width: 90%;
  margin: 0 auto;
}
.monthYear p {
  display: inline-block;
}

.articleDetails{
  display: flex;
  margin-top: 30px;
}

.article {
  display: flex;
  flex-wrap: wrap;
  float: left;
  width: 80%;
}

.details{
  float: left;
  width: 20%;
  background: lightgrey;
}
.oneArticle{
  border: solid 1px black;
  width: 25%;
}

button {
  background-color: white;
  cursor: pointer;
  font-size: 14px;
  border-radius: 10%;
}

button:hover {
  background-color: lightgrey;
}

@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
.preview {
  float: left;
  width: 100%;
}
}

@media screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .preview {
        float: left;
        width: 50%;
    }
}

@media screen and (min-width : 1224px) {
    .preview {
        float: left;
        width: 25%;
    }
}
